# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Python Cache
.pytest_cache/
.mypy_cache/

# Database
*.db

# Alembic
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db